<!--The content below is only a placeholder and can be replaced.-->
  <h1 class="font-weight-bold" [style.color]="colorSelected" id="h1"> HAPPY BRITHDAY {{who}} </h1>
  <h2 id="h2">  my best wishes</h2>
  <img class="img-thumbnail" src="/assets/img/img.jpg" alt="Cake-For-You" id="img"/>
  <div class="text-center m-1 font-weight-bolder">
      <button class="btn btn-lg btn-danger" data-playing="false" role="switch" aria-checked="false">
          <span> Play </span>
      </button> </div>
      <audio src="assets/song/happy-birthday.mp3" type="audio/mpeg"></audio>
<router-outlet></router-outlet>
