/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: llcalig;
    src: url(./assets/fonts/lcallig.TTF);
    font-style: italic;
    font-weight: bolder;
}
body {
    background-color: #f7f1e3;
    margin: 10px;
      
}
button{
    font-family:llcalig;
}
h2 {

    font-family: llcalig;
    text-align: center;
    
}
#h1 {

    font-family: llcalig;
    text-align: center;
    
}
#img {
    border: 2px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    width: 300px;
    height: 150px;
}
#emojji-1 ,#emojji-2{
    font-size: 45px;
}
/* fixed footer at the bottom */
footer{
    font-family: llcalig;
    position:fixed;
    bottom:0;
    width: 100%;             
}
/* screen < 600px width */
@media only screen and (max-width: 600px) {
    footer {
       position: relative;
    }
 }